<!DOCTYPE HTML>
<html>
	<head>
		<title>Welcome to nl.tredius.portal</title>
 </head>
	<body>
	 <div id="wrap">
   {{name}}
   </div>
   <div id="footer">
      <div class="container">
      	 <p class="muted footer-text">Footer content.</p>
      </div>
   </div>
	</body>
</html>
