

.contactblok

  hr.stippellijn

  p #{regel1}
  p #{regel2}

  address.contactpersoon(itemscope, itemtype="s:ContactPoint")
    span.pocnaam(itemprop="name") #{naam}
    strong.poctelefoon(itemprop="telephone") #{telefoon}


