

:markdown

  U als ondernemer
  ================

  Ondernemer zijn betekent dat u er vaak alleen voor staat. Die vrijheid en
  onafhankelijkheid is de reden dat u ooit voor uzelf bent begonnen. De andere
  kant van de medaille is wel dat u zelf voor uw oudedag dient te zorgen.

  Tijdig beginnen met het opbouwen van uw pensioen is dan ook raadzaam. Maar hoe
  kunt u dit het beste voor elkaar krijgen? Omdat u ondernemer bent heeft u alle
  vrijheid in het opbouwen van uw pensioen. Zo is het zelfs mogelijk om eigen
  pensioenverzekeraar te worden met alle vrijheden van dien. Maar wat is het
  beste voor u?

  De pensioenspecialisten van Tredius helpen u graag bij dit traject. Op basis
  van de fiscale en pensioenwetgeving en natuurlijk uw situatie en wensen, wordt
  u geadviseerd over wat de beste en meest aantrekkelijke manier is voor u om uw
  pensioen op te bouwen.

  Dat kan zomaar betekenen dat we u adviseren om nog even te wachten met het
  opbouwen van uw pensioen. Wanneer u tenslotte net voor u zelf bent begonnen of
  een zware ondernemerstijd achter de rug heeft, is het vaak verstandig nog even
  te wachten met het opbouwen van uw pensioen.

  Wellicht een niet verwacht advies, maar wel een advies dat voor u het beste
  kan zijn. Dat mag u verwachten van de specialisten van Tredius.

  Ook in het geval van bijvoorbeeld echtscheiding is een goed fiscaal en
  juridisch advies goud waard. De specialisten van Tredius zorgen dat u zich
  kunt concentreren op andere zaken in deze moeilijke situatie en zorgen voor
  een goede verdeling van het pensioen in geval van echtscheiding.

  Uw medewerkers
  ==============

  Een heel ander verhaal is het pensioen van uw medewerkers. Misschien bent u
  wel op grond van de CAO verplicht pensioen op te bouwen voor uw personeel. Of
  heeft u dit als goed werkgever in uw arbeidsvoorwaarden opgenomen?

  In beide gevallen is het verstandig voor u en uw personeel om zich goed te
  laten begeleiden. In het woud van pensioenregels is het fijn om u te laten
  bijstaan door een specialist. Op de langere termijn zult u hiermee geld
  besparen.

  Het kan natuurlijk zijn dat u reeds een pensioenregeling heeft of dat deze
  binnenkort afloopt. Ook dan kunnen de specialisten van Tredius u begeleiden.
  Dit kan bijvoorbeeld in de vorm van een check van uw regeling aan de huidige
  wet- en regelgeving. Zaken op dit gebied veranderen nou eenmaal continue. Onze
  de pensioenspecialisten kunnen u begeleiden in de keuze welke
  pensioenuitvoerder het beste bij u past.


h2 De pensioenspecialisten helpen u onder andere in de volgende gevallen:

ul
  li het opzetten van een collectieve pensioenregeling
  li toetsen van uw pensioenregeling aan de huidige wet- en regelgeving
  li adviseren welke pensioenuitvoerder het beste bij u past


!= partial('contactpersoon', { 'regel1': "Mocht u behoefte hebben aan een professioneel en gedegen pensioenadvies,", 'regel2': "neemt u dan contact op met onze pensioenspecialist:", 'naam': 'Marco Krijger', 'telefoon': '023 551 30 55' } )

