@import 'semantisch'

/* ---------------------------
 * Semantisch raster instellen
 * ---------------------------
 */

// Importeren raster
columns = 12

// 100% voor fluid/responsive
total-width = 940px
