<article class="LandingPage-content span12">

        <h1 class="MainContent-tagline">
            U onderneemt, Tredius doet de rest
        </h1>

    <section class="container">
        <figure class="ArticleIllustration span3">
            <img src="/media/afbeeldingen/vrij.png" alt="Vrijheid is een kernbegrip van Tredius" height="100" width="100">
            <figcaption>
                Vrij
            </figcaption>
        </figure>
        <figure class="ArticleIllustration span3">
            <img width="100" height="100" alt="Onafhankelijk" src="/media/afbeeldingen/onafhankelijk.png">
            <figcaption>
                Onafhankelijk
            </figcaption>
        </figure>
        <figure class="ArticleIllustration span3">
            <img width="100" height="100" alt="Zelfstandig" src="/media/afbeeldingen/zelfstandig.png">
            <figcaption>
                Zelfstandig
            </figcaption>
        </figure>
     </section>

        <h2>
            Adviseren op cruciale punten, binnen alle facetten.
            <br>
            Een geruststellende gedachte. Dat is onze overtuiging.
        </h2>
        <a href="/overtuiging.html" class="knop verder">Lees Onze Overtuiging »</a>
</article>
