---
layout: standaard
titel: Gelukt!
subtitel: Uw reactie is verzonden!
kenmerk: done
bannier: /media/afbeeldingen/bg_bruin.gif
---

p Het formulier is succesvol verzonden.
  | Klik &nbsp;
  a(href='/') hier
  | &nbsp; om verder te gaan.
