--- cson
isNieuwsbrief:   true
titel:          'Column'
layout:         'standaard'
kenmerk:        'ttcol'
bannier:        'bg_ttime.jpg'
datum:          'december 2012'
subtitel:       "Verrekenen van verliezen, lichtje in het duister?"
samenvatting:   "Traditioneel kijken we in deze periode terug op het afgelopen jaar en vooruit naar het komend jaar. Helaas hebben we hierbij weinig reden tot juichen..."

---

:markdown

  Hierbij ontvangt u alweer de tweede T-time. De tijd vliegt! Het is inmiddels
  2012 en hier en daar horen we positieve geluiden in de markt. Zo is het MKB
  positief over 2012. Wij hopen dat dit ook voor u geldt en helpen u daarbij
  graag.

  T-time is de nieuwsbrief van Tredius, uw adviseur op administratief, fiscaal,
  juridisch, financieel en assurantie gebied. Door middel van deze nieuwsbrief
  willen wij u 4 maal per jaar op de hoogte houden. Niet alleen met betrekking
  tot de actualiteiten op administratief en fiscaal gebied, maar ook over
  Tredius zelf. Zo zal er per kwartaal een product of dienst worden uitgelicht
  en zullen wij met speciale acties komen. Op deze manier hopen wij u nog meer
  van gemak te kunnen voorzien.

  Mocht u particulieren of bedrijven kennen waarvan u denkt dat ze de
  nieuwsbrief waarderen, maakt u dan gebuik van de doorstuurknop onderaan de
  nieuwsbrief.

  Mocht u geen interesse hebben in onze nieuwsbrief, dan kunt u zich heel
  gemakkelijk uitschrijven onderaan de pagina.




.DisclaimerExpliciet #{site.disclaimer}

!= partial('adresblok', { titel: "Tredius Fiscalisten", straat: "Zijlweg 146", postcode: "2015 BH", plaats: "Haarlem" } )
