// Opmaak vestigingen

// linkerhelft
.vestiging

  // 50%
  kolom(5)

  .adreskop
    display block
    text-transform uppercase
    font-weight 600
    margin 20px 0

  .email
    font-weight 600
    &:after
      content " "

  .plaats:before
    content " "

  .telefoon:before
    content "T: "
    font-weight 600

  .faxnummer:before
    content "F: "
    font-weight 600

  .telefoon
    margin-top 30px

  .route
    margin 20px 0
    width 150px

  .adres
  .telefoon
  .knop
  .faxnummer
    display block

// rechterhelft
.kaartgoogle

  // 50%
  kolom(7)



