// Kleurschema

blauw         = #0183b5
rood          = #e31741
rozig         = #6b4c39
goud          = #b88d74
bruinig       = #b88c74
lichtbruin    = #6b4c39
bruin         = #6b4c39
grijs         = #e0e0e0
lichtgrijs    = #f8f8f8
donkergrijs   = #919191
zwart         = #363636
wit           = #ffffff
donkerblauw   = #403e6b
turquoise     = #6CBBB8
lichtpaars    = #6664a0
paars         = #47427A
