


// Contactpersonen
.Visitekaart
    kolom(12)
    font sans
    text-align center
    border-top 1px solid lichtgrijs
    margin 25px 0
    > p
        color bruin
        line-height 1.4em
        font-size 20px
        text-align center

.ContactGegevens
    color rood

.ContactPersoon
    display block
    color rood
    font-style normal
    font-size 24px
    font-weight 300
    line-height 48px

.ContactTelefoon
    font 30px sans
    font-weight 600


// Vestigingen

// L
.BedrijfVestiging
    kolom(5)

// R
.BedrijfVestiging-kaart
    kolom(7)



.adreskop
    display block
    text-transform uppercase
    font-weight 600
    margin 20px 0

.email
    font-weight 600
    &:after
        content " "

.plaats:before
    content " "

.telefoon:before
    content "T: "
    font-weight 600

.faxnummer:before
    content "F: "
    font-weight 600

.telefoon
    margin-top 30px

.route
    margin 20px 0
    width 150px

.adres
.telefoon
.knop
.faxnummer
    display block
