


// Font sizes ----------------------------------------------------------

// Gebruik altijd pixels (px). Gebruik nooit punten ‘pt’ voor on-screen
// gebruik, alleen bij afdrukken (media 'print') is dit logisch. Gebruik
// 'em' of % voor relatieve grootte.

enorm     = 65px
zeergroot = 40px
groot     = 36px
aardig    = 28px
flink     = 22px
middel    = 18px
normaal   = 14px
klein     = 12px
kleinst   = 11px
// micro
// nano


// Kleurschema ---------------------------------------------------------

wit             = #ffffff
white           = #ffffff

zwart           = #363636
black           = #363636

geel            = #7A6A42
yellow          = #7A6A42

goud            = #b88d74
gold            = #b88d74

turquoise       = #6CBBB8

paars           = #47427A
lichtpaars      = #6664a0

purple          = #47427A
light-purle     = #6664a0


blauw           = #0183b5
lichtblauw      = #0183b5
donkerblauw     = #403e6b

blue            = #0183b5
light-blue      = #0183b5
dark-blue       = #403e6b

rood            = #e31741
lichtrood       = #6b4c39

red             = #e31741
light-red       = #6b4c39

bruin           = #6b4c39
lichtbruin      = #b88c74

brown           = #6b4c39
light-brown     = #b88c74

grijs           = #e0e0e0
lichtgrijs      = #f8f8f8
donkergrijs     = #919191

grey            = #e0e0e0
light-grey      = #f8f8f8
dark-grey       = #919191

// todo
orange          = #F2A34F
green           = #7FC028


// font opties
helvetica-neue  = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica       = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia         = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande  = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace       = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana         = Verdana, Geneva, sans-serif

sans            = 'Open Sans', sans-serif
dosis           = 'Dosis', sans-serif

// default font stack
font-stack      = sans
font-size       = 15
font-color      = zwart

// default color
default-color   = rood

// text hilight color
hilight-color   = paars

// vendor prefixes
vendors         = webkit moz o ms official

// custom image base path for roots mixins
img-path        = '/media/afbeeldingen/'

// progressive internet explorer (http://css3pie.com/)
pie-enabled     = true
pie-path        = 'pie/pie.htc'

// grid system settings (http://semantic.gs)
kolom-breedte   = 80
goot            = 0px
aantal-kolommen = 12



//((todo:1jan2013))
// Maak key/value pairs singly-linked lijsten om eenvoudig vanuit de markup semantisch aan te kunnen passen
//kleuren = (blauw #0183b5) (rood #e31741) (rozig #6b4c39) (goud #b88d74) (bruinig #b88c74) (lichtbruin #6b4c39) (bruin #6b4c39) (grijs #e0e0e0) (lichtgrijs #f8f8f8) (donkergrijs #919191) (zwart #363636) (wit #ffffff) (donkerblauw #403e6b) (turquoise #6CBBB8) (lichtpaars #6664a0) (paars #47427A) (geel #7A6A42)

//for paar in kleuren
//    .Lettertype-{paar[0]}
//        color paar[1]

/*
    .Lettertype-blauw
        color #0183b5
    .Lettertype-rood
        etc...
*/
