--- cson
voetmenu:		3
layout:         'standaard'
kenmerk:        'ttime'
titel:          'Tredius vertelt...'
subtitel:       "T-Time"
naam: 		    "T-Time"
bannier:        '/media/afbeeldingen/bg_ttime.jpg'
entity:         's:VideoObject'
type:           'video.movie'
samenvatting:   "Op deze pagina vertellen wij welke ontwikkelingen er zijn op de diverse gebieden. Dit doen wij in de vorm van filmpjes over actuele onderwerpen, een nieuwsbrief en columns. Daarnaast brengen wij ook enkele malen per jaar een T-time Special uit, waarin we dieper in gaan op een actueel of interessant onderwerp. "
---

//-script(src='/assets/royalslider/jquery.royalslider.min.js')

include videos/tv-slider

include nieuwsbrief/tn-slider

include columns/tc-slider

include specials/ts-slider







