

footer#snelkoppelingen(role="contentinfo")

  section

    h4#voet_linklijst1 ONZE DIENSTEN

    ul(role="navigation", aria-labelledby="voet_linklijst1")
      li
        a(href='/diensten/accountancy.html') Accountancy
      li
        a(href='/diensten/belastingadvies.html') Belastingadvies
      li
        a(href='/diensten/estateplanning.html') Estate Planning
      li
        a(href='/diensten/juridisch-abonnement.html') Juridisch Abonnement
      li
        a(href='/diensten/juridisch-advies.html') Juridisch Advies
      li
        a(href='/diensten/pensioen.html') Pensioen
      li
        a(href='/diensten/risicoadvies-en-verzekeringen.html') Risicoadvies en Verzekeringen
      li
        a(href='/diensten/overstapservice.html') Schoenendoos Overstapservice
      li
        a(href='/diensten/salaris-en-personeel.html') Salarisadministratie


  section

    h4#voet_linklijst2 WERKEN BIJ TREDIUS

    ul(role="navigation", aria-labelledby="voet_linklijst2")
      li
        a(href='/werken-bij/') Werken bij Tredius
      li
        a(href='/werken-bij/stages.html') Stageplekken
      li
        a(href='/werken-bij/wie-ben-jij.html') Wie ben jij?
      li
        a(href='/werken-bij/vacatures.html') Vacatures

  section

    h4#voet_linklijst3 OVER TREDIUS

    ul(role="navigation", aria-labelledby="voet_linklijst3")
      li
        a(href='/overtuiging.html') Over Tredius
      li
        a(href='/t-time/index.html') T-Time
      li
        a(href='/contact.html') Contact


footer#paginavoet

  aside= copyRight()

  aside
    ul
      li
        a(href='/overig/voorwaarden.html') Voorwaarden

      li &nbsp; &#124; &nbsp;
        a(href='/overig/privacy.html') Privacybeleid

      li &nbsp; &#124; &nbsp;
        a(href='/overig/handelsregister.html') Handelsregister

      //- li &nbsp; &#124; &nbsp;
      //-  a(href='/overig/status') Meldingen

      //- li &nbsp; &#124; &nbsp;
      //-  a(href='/support') Support



