--- cson
isColumn:       true
titel:          'Column'
thing:          's:Article'
layout:         'standaard'
kenmerk:        'ttcol'
bannier:        '/media/afbeeldingen/bg_ttime.jpg'
subtitel:       "Innoveren doet begeren!"
datum:          'juni 2012'
samenvatting:   "De overheid stimuleert innovatie. Dat gebeurt onder andere met drie fiscale regelingen..."
---

:markdown

  Innoveren doet begeren! Niet zo lang geleden mocht ik de prijsuitreiking
  bijwonen van de “Gouden Kans 2012”, de prijs voor de meest innovatieve
  ondernemer in Noord Holland. Zeven genomineerden mochten in een pitch van
  anderhalve minuut uitleggen waarom zij de prijs het meest zouden verdienen.
  Altijd inspirerend om ondernemers vol enthousiasme over hun producten en
  uitvindingen te horen praten. En dan heb ik het niet over nerd-achtige Willie
  Wortel types, maar gewoon over ondernemers zoals u en ik. Dromend van een
  betere wereld, maar vooral ook van een mooie winstgevende onderneming. En
  omdat iedere ondernemer altijd op zoek is naar nieuwe manieren om zijn doel te
  bereiken, is innovatie even vanzelfsprekend als noodzakelijk. De overheid
  stimuleert u als ondernemer om tijd in te ruimen binnen uw onderneming voor
  innovatie. Dat gebeurt onder andere met drie fiscale regelingen. De Wet
  Bevordering Speur- en Ontwikkelingswerk (WBSO), de zogenaamde Innovatiebox en
  de Research and Development (R&D) aftrek. Ik zet hierna deze regelingen voor u
  in de etalage onder het motto “adverteren doet begeren”.

  De WBSO is een fiscale stimuleringsregeling waarmee de Nederlandse overheid
  een deel van de loonkosten compenseert voor speur- en ontwikkelingswerk (S&O).
  De compensatie bestaat uit een korting op de door u af te dragen loonheffing
  van liefst 42% van alle loonkosten die gepaard gaan met de S&O werkzaamheden.
  Zelfstandigen (ZZP-ers) krijgen een vaste aftrek voor S&O werkzaamheden die
  zij zelf verrichten en voor starters is er nog een extra tegemoetkoming in de
  vorm van een hoger kortingspercentage. Om voor deze aantrekkelijke WBSO
  regeling in aanmerking te komen moet u een aanvraag indienen en wel minimaal
  één maand voordat u met het werk begint. U vindt alles hierover op de prima
  [website van Agentschap NL](http://www.agentschapnl.nl), de
  overheidsorganisatie die al dit soort regelingen uitvoert.

  De tweede stimuleringsmaatregel, de innovatiebox betreft een fiscale
  faciliteit in de vennootschapsbelasting aan de opbrengstenkant van de
  innovatie. Nadat de voortbrengings- kosten van een innovatief bedrijfsmiddel
  (octrooi, patent of kweekrecht bijvoorbeeld) zijn ingelopen, wordt de daarmee
  behaalde winst belast tegen een tarief van 5% vennootschapsbelasting in plaats
  van het normale tarief van 20-25%. Dat scheelt! Voorwaarde voor toepassing van
  de innovatiebox is dat er een WBSO verklaring is afgegeven. De uitvoering van
  de berekening van het voordeel is nogal technisch en moeilijk uitvoerbaar.
  Gelukkig blijkt de belastingdienst opvallend bereid om hierover hele werkbare
  praktische afspraken te maken. Makkelijker kunnen ze het toch maken!

  Om investeringen in R&D kapitaal en R&D arbeid evenwichtiger te behandelen,
  heeft de wetgever met de RDA een derde faciliteit willen toevoegen aan het
  palet stimuleringsmaatregelen. Daarbij wordt een faciliteit geboden voor alle
  niet-loonkosten die verband houden met speur- en ontwikkelingswerk. Ook hier
  is een WBSO verklaring vereist. De R&D aftrek is net zoals bijvoorbeeld de
  investeringsaftrek, een extra aftrekpost op de fiscale winst en hij bedraagt
  40% van de S&O kosten die u maakt. Tenminste als u kunt aantonen dat uw S&O
  kosten meer dan €50.000 per kalenderjaar bedragen. Heeft u echter een
  S&O-verklaring voor minder dan 150 S&O-uren per kalendermaand, dan wordt als
  bedrag van de kosten vastgesteld het totaal aantal erkende S&O-uren
  vermenigvuldigd met € 15. Uw R&D aftrek bedraagt dan dus 40% van €15,- ofwel
  €6,- maal het aantal erkende S&O uren per jaar.

  Klinkt allemaal mooi, hoor ik u denken, maar wanneer ben ik nou aan het
  innoveren? Nou dat valt mee, want dat is misschien wel eerder dan u denkt. Als
  u technisch nieuwe producten, productieprocessen of programmatuur ontwikkelt
  of onderzoek doet dat gericht is op verbetering van bestaande
  productieprocessen of programmatuur, dan kunt u al een aanvraag indienen bij
  Agentschap NL. Als u twijfelt of advies nodig heeft, kunt u bij natuurlijk bij
  ons terecht. Wij kunnen u in contact brengen met de adviseurs van Agentschap
  die de aanvraag beoordelen en de beschikking afgeven. Met deze beschik- king
  in de hand komt u door het ganse fiscale land en liggen de voordelen voor u
  voor het oprapen. En dat is natuurlijk in deze moeilijke tijden meer dan
  welkom. Vandaar dat u als innoverende ondernemer voortaan altijd begerig
  uitkijkt naar de uitkomst van uw fiscale aangiften. Innoveren doet dus ook
  begeren!


!= partial('visitekaartje', { naam: "Marco Krijger MB FB", titel: "Partner Tredius Fiscalisten", email: "m.krijger@tredius.nl" } )

.disclaimer-column #{site.disclaimer}

!= partial('adresblok', { titel: "Tredius Fiscalisten", straat: "Zijlweg 146", postcode: "2015 BH", plaats: "Haarlem" } )

