
// Instellingen
ie-ondersteuning ?= true

@charset 'UTF-8'

// Google fonts downloaden (langzaam!)
//@import url("http://fonts.googleapis.com/css?family=Dosis:400,500,600|Open+Sans:400italic,600italic,700italic,400,600,700")

@import 'nib'

global-reset()
//@import 'reset' // nib

@import 'raster'
@import 'lettertypen'
@import 'kleurenschemas'
//@import 'webbrowsers'
@import 'basisstijlen'
@import 'navigatie'
@import 'formulieren'
@import 'paginahoofd'
@import 'voorpagina'
@import 'contactgegevens'
@import 'voetblokken'

