.NavigatieBalk > li > div,
.NavigatieBalk > li > ul,
.NavigatieBalk > li > ul li > ul
  overflow: visible
  visibility: visible
  display: none

.NavigatieBalk > li.mzr-drop:hover > div,
.NavigatieBalk > li.mzr-drop:hover > ul,
.NavigatieBalk > li > ul li.mzr-drop:hover > ul
  display: block

.NavigatieBalk > li.mzr-home-dark,
.NavigatieBalk > li.mzr-home-light
  min-width: 50px

