// Lettertypen instellen
// Gebruik altijd pixels (px). Gebruik nooit punten ‘pt’ voor on-screen gebruik,
// alleen bij afdrukken (media 'print') is dit logisch. Gebruik 'em' of % voor relatieve grootte.

sans      = 'Open Sans', sans-serif
dosis     = 'Dosis', sans-serif
enorm     = 65px
zeergroot = 40px
groot     = 36px
aardig    = 28px
flink     = 22px
middel    = 18px
normaal   = 14px
klein     = 12px
kleinst   = 11px


// Gewicht instellen
// ...

// Speciale opmaak
// ...
